{%- macro pin(worker, name) %}{{ worker }}.{{ name }}Pin{% endmacro %}
{%- macro inputChannel(in_pin) %}input{{ in_pin.name | capitalize }}{% endmacro %}
{%- macro declareChannel(name, from, to) %}var {{ name }} = new Channel<>({{ from }}, {{ to }});{% endmacro -%}
package hu.bme.mit.ase.shingler.similarity;

import hu.bme.mit.ase.shingler.workflow.impl.*;
import hu.bme.mit.ase.shingler.workflow.lib.*;

public class {{ name }}Workflow extends Workflow<{{ outPin.type }}> {

    // Input pin declarations
    {%- for in_pin in inPins %}
    public final Pin<{{ in_pin.type }}> {{ in_pin.name }} = new Pin<>();
    {%- endfor %}

    // Parameter declarations
    {%- for param in parameters %}
    private final {{ param.type }} {{ param.name }};
    {%- endfor %}

    public {{ name }}Workflow({% for param in parameters %}{{ param.type }} {{ param.name }}{% if not loop.last %}, {% endif %}{% endfor %}) {
        {%- for param in parameters %}
        this.{{ param.name }} = {{ param.name }};
        {%- endfor %}
    }

    @Override
    protected void initialize() {
        {%- for worker in workers %}
        var {{ worker.name }} = new {{ worker.type }}Worker(
                {%- if worker.arguments is defined -%}
                {%- for argument in worker.arguments -%}
                {{ argument }}
                {%- if not loop.last -%}, {% endif -%}
                {%- endfor -%}
                {%- endif -%}
        );
        {%- endfor %}
        {% for worker in workers %}
        addWorker({{ worker.name }});
        {%- endfor %}

        setOutputPin({{ outPin.worker }}.outputPin);
        {% for in_pin in inPins %}
        {{ declareChannel(inputChannel(in_pin), in_pin.name, pin(in_pin.worker, in_pin.pin)) }}
        {%- endfor %}
        {% for in_pin in inPins %}
        addChannel({{ inputChannel(in_pin) }});
        {%- endfor %}
        {% for channel in channels %}
        {{ declareChannel(channel.name, pin(channel.fromWorker, 'output'), pin(channel.toWorker, channel.toPin)) }}
        {%- endfor %}
        {% for channel in channels %}
        addChannel({{ channel.name }});
        {%- endfor %}
    }

}
